<app-layout [hideMoreActions]="true" [pageTitle]="'VISITOR.TITLE' | translate" [subTitle]="societyService.selectedSocietyFilterValue?.label">


    <div class="flex-col full-h">
        <app-filter [dateControlConfigs]="[selectedDateControlConfig]" [loadFirstSociety]="true" [loadFirstFlat]="true"
            [selectedFlatId]="routeFlatId" [smColumns]="12" [mdColumns]="12" [lgColumns]="12"
            (filterChanged)="loadGateEntries($event)">

            <ui-date [formControl]="selectedDateControl" [config]="{id: '', label: 'Date'}" [smColumns]="12"
                [mdColumns]="2" [lgColumns]="2">
            </ui-date>

        </app-filter>


        <ui-form-layout class="flex-auto">

            <ng-container *ngIf="!loadingGateEntries">

                <ng-container *ngFor="let gateEntry of gateEntries">

                    <app-card-v2 [title]="gateEntry.visitorName ?? ''" [status]="getGateEntryStatusColorName(gateEntry)"
                        [smColumns]="12" [mdColumns]="6" [lgColumns]="6">

                        <ng-container card-info>
                            <ui-label valueText="{{gateEntry.status | uppercase}}" direction="horizontal"
                                [valueType]="getGateEntryLabelType(gateEntry)">
                            </ui-label>
                        </ng-container>

                        <ng-container card-body>

                            <!-- Contact -->
                            <ui-label [config]="{id: '', label: ('VISITOR.CONTACT' | translate)}" [valueText]="gateEntry.visitorContact"
                                direction="vertical" valueType="info">
                            </ui-label>

                            <!-- Purpose -->
                            <ui-label [config]="{id: '', label: ('VISITOR.PURPOSE' | translate)}" [valueText]="gateEntry.purpose"
                                direction="vertical" valueType="info">
                            </ui-label>

                            <!-- Time -->
                            <ui-label [config]="{id: '', label: ('VISITOR.TIME' | translate)}" [valueText]="formatTime(gateEntry.createdOn)"
                                direction="vertical" valueType="info">
                            </ui-label>
                        </ng-container>

                        <ng-container card-actions *ngIf="gateEntry.status === 'requested'">
                            <ng-container *ngIf="!approving && !rejecting">
                                <ui-button [label]="'APP.APPROVE' | translate" (clicked)="onApprove(gateEntry)">
                                </ui-button>
                                <ui-button [label]="'APP.REJECT' | translate" type="error" (clicked)="onReject(gateEntry)">
                                </ui-button>
                            </ng-container>

                            <ng-container *ngIf="approving || rejecting">
                                <ui-loading *ngIf="approving" [message]="'MAINTENANCE.APPROVING' | translate"
                                    [smColumns]="12" [mdColumns]="12" [lgColumns]="12">
                                </ui-loading>
                                <ui-loading *ngIf="rejecting" [message]="'MAINTENANCE.REJECTING' | translate"
                                    [smColumns]="12" [mdColumns]="12" [lgColumns]="12">
                                </ui-loading>
                            </ng-container>
                        </ng-container>



                    </app-card-v2>

                </ng-container>

                <ng-container *ngIf="gateEntries.length === 0">
                    <app-empty-records singular="visitor" plural="visitors" [overrideTitle]="'VISITOR.NO_VISITORS' | translate" [hideAddButton]="true" [hideMessage]="true"
                        [smColumns]="12" [mdColumns]="12" [lgColumns]="12">
                        <app-icon icon name="visitor" size="xxl"></app-icon>
                    </app-empty-records>
                </ng-container>

            </ng-container>

            <ui-loading *ngIf="loadingGateEntries" [message]="'VISITOR.LOADING' | translate" [smColumns]="12" [mdColumns]="12"
                [lgColumns]="12">
            </ui-loading>

        </ui-form-layout>

    </div>

</app-layout>