<app-layout [hideMoreActions]="!societyId" pageTitle="Flats" [subTitle]="society?.societyName">

    <ng-container moreActions>
        <ul class="page-menu-list" *ngIf="societyId">
            <li class="page-menu" (click)="gotoChat()">
                <span class="material-icons" style="font-size:1rem;vertical-align:middle;margin-right:4px">chat</span>
                Open Chat
            </li>
        </ul>
    </ng-container>

    <ui-form-layout>


        <ui-loading *ngIf="loadingSociety" message="Loading society information" [smColumns]="12" [mdColumns]="12"
            [lgColumns]="12">
        </ui-loading>

        <ui-loading *ngIf="loadingFlatMembers" message="Loading my flats" [smColumns]="12" [mdColumns]="12"
            [lgColumns]="12">
        </ui-loading>

        <ng-container *ngIf="!loadingSociety && !loadingFlatMembers">

            <ng-container *ngFor="let flatMember of flatMembers">

                <ui-my-flat-member-card [smColumns]="12" [mdColumns]="12" [lgColumns]="4" [member]="flatMember"
                    (clicked)="gotoFlatDetails(flatMember)">
                </ui-my-flat-member-card>

            </ng-container>

        </ng-container>

    </ui-form-layout>

</app-layout>