<div class="layout-container">

    <!-- HEADER -->
    <app-header (toggleMenu)="menu.toggleMenu()" [title]="title ?? menuService.pageTitle"
        [hideMoreActions]="hideMoreActions" [showBackButton]="showBackButton">
        <ng-container moreActions>
            <ng-content select="[moreActions]"></ng-content>
        </ng-container>
    </app-header>

    <div class="layout-main">

        <!-- LEFT MENU -->
        <app-menu #menu [menuItems]="menuService.userMenus.value"></app-menu>

        <!-- BODY AREA (scrollable only here) -->
        <div class="layout-body" appLoadingOverlay [useHttpInterceptor]="true">
            <ng-content></ng-content>
        </div>

    </div>

    <!-- FOOTER -->
    <app-footer></app-footer>

</div>