<div class="layout-container">

    <!-- HEADER -->
    <app-header (toggleMenu)="menu.toggleMenu()" [loggedInUserProfile]="loggedInUserProfile"
        [navMenuItems]="navMenuItems" [extendedMenuTemplate]="extendedMenuTemplate" (needLogin)="needLogin.emit()"
        (menuItemClick)="menuItemClick.emit($event)" (goHome)="goHome()">
    </app-header>

    <div class="layout-main">

        <!-- LEFT MENU -->
        <app-menu #menu [menuItems]="(menuService.filteredMenus | async) ?? []"></app-menu>

        <div class="layout-body-container">

            <div class="page-header-container">
                <!-- [title]="title ?? menuService.pageTitle" -->
                <div class="page-header" *ngIf="title || !hideMoreActions">
                    <div class="title-container">
                        <h1>{{ title ?? menuService.pageTitle }}</h1>
                        <h6 *ngIf="subTitle" class="subtitle">{{ subTitle }}</h6>
                    </div>

                    <div class="header-actions" *ngIf="!hideMoreActions">
                        <ng-container *ngIf="!isMobileMode">
                            <ng-container *ngTemplateOutlet="projectedActions"></ng-container>
                        </ng-container>

                        <!-- <ui-button label="" type="only-content" *ngIf="isMobileMode" [matMenuTriggerFor]="actionMenu">
                            <app-icon name="more-vert">
                            </app-icon>
                        </ui-button> -->
                        <app-icon name="more-vert" *ngIf="isMobileMode" [matMenuTriggerFor]="actionMenu">
                        </app-icon>
                        <mat-menu #actionMenu panelClass="mobile-action-panel">
                            <div class="mobile-actions">
                                <ng-container *ngTemplateOutlet="projectedActions"></ng-container>
                            </div>
                        </mat-menu>
                    </div>
                </div>
                <div class="standard-divider" *ngIf="!hideMoreActions"></div>
            </div>

            <!-- BODY AREA (scrollable only here) -->
            <div class="layout-body" appLoadingOverlay [useHttpInterceptor]="true">
                <ng-content></ng-content>
            </div>

        </div>

    </div>

    <!-- FOOTER -->
    <!-- <app-footer *ngIf="showBackButton || backButtonURL" (backButtonClicked)="goBack()">
    </app-footer> -->
    <app-footer>
    </app-footer>

</div>

<ng-template #projectedActions>
    <ng-content select="[moreActions]"></ng-content>
</ng-template>