@import '../../../styles/variables';

.storage-container {
    font-size: 10px;
}

.storage {
    border-bottom: solid 1px $color-help-text;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;

    .key {
        border: solid 1px $color-help-text;
        padding: 3px;
    }

    .data {
        flex: 1 auto;
    }
}