.storage-container {
    font-size: 10px;
}
.storage {
    border-bottom: solid 1px #a0a0a0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;

    .key {
        border: solid 1px #a0a0a0;
        padding: 3px;
    }

    .data {
        flex: 1 auto;
    }
}
