<!-- flat-member-card.component.html -->
<div class="member-card">

    <!-- Header -->
    <div class="card-header">
        <div class="name-section">
            <h3>{{ memberUser?.name }}</h3>
            <span class="role-chip" *ngIf="member.isOwner">Owner</span>
            <span class="role-chip tenant" *ngIf="member.isTenant">Tenant</span>
            <span class="role-chip member" *ngIf="member.isMember || member.isTenantMember">Member</span>
        </div>

        <span class="status-chip" [ngClass]="statusClass">
            {{ member.status | titlecase }}
        </span>

    </div>

    <!-- Body -->
    <div class="card-body">

        <div class="info-row">
            <label>Contact</label>
            <span>{{ memberUser?.phoneNumber }}</span>
        </div>

        <div class="info-row">
            <label>Residing</label>
            <span>{{ member.residingType }}</span>
        </div>

        <div class="info-row" *ngIf="flat">
            <label>Flat</label>
            <span>{{ flat.flatNumber }} (Floor {{ flat.floor }})</span>
        </div>

        <!-- OWNER VIEW -->
        <ng-container *ngIf="!isAdminView || member.isTenant">
            <div class="info-row" *ngIf="member.isTenant">
                <label>Lease Period</label>
                <span>
                    {{ member.leaseStart | date:'mediumDate' }} –
                    <ng-container *ngIf="member.leaseEnd"> {{ member.leaseEnd | date:'mediumDate' }} </ng-container>
                    <ng-container *ngIf="!member.leaseEnd"> Today </ng-container>
                    
                </span>
            </div>

            <div class="info-row" *ngIf="member.rentAmount">
                <label>Rent</label>
                <span>₹ {{ member.rentAmount }}</span>
            </div>

        </ng-container>

        <!-- ADMIN / MANAGER VIEW -->
        <ng-container *ngIf="isAdminView">

            <div class="info-row" *ngIf="society">
                <label>Society</label>
                <span>{{ society.societyName }}</span>
            </div>

        </ng-container>

    </div>


    <div class="flex flex-end flex-gap">
        <ui-button label="Move In" type="only-content" (clicked)="onMoveInClick()"
            *ngIf="showMoveIn">
        </ui-button>
        <ui-button label="Mouve Out" type="only-content" (clicked)="onMouveOutClick()"
            *ngIf="showMoveOut">
        </ui-button>
        <app-icon name="delete" class="error" *ngIf="showDelete" (click)="onDeleteClick()"></app-icon>
    </div>
</div>

<ng-template #endDate>
    <div class="end-date-container">
        <ui-date [config]="leaseEndConfig" [formControl]="leaseEnd">
        </ui-date>

        <div class="action">
            <ui-button label="Cancel" type="only-content" (clicked)="cancel()">
            </ui-button>
            <ui-button label="Moveout" type="primary" (clicked)="moveOut()">
            </ui-button>
        </div>
    </div>
</ng-template>