<div class="empty-societies">
    <div class="empty-societies__icon-wrapper">
        <ng-content select="[icon]"></ng-content>
    </div>
    <h2 class="empty-societies__title">{{ overrideTitle ? overrideTitle : ('EMPTY_RECORDS.NO_ITEMS_TITLE' | translate: { plural: (plural | translate) }) }}</h2>
    <p class="empty-societies__message" *ngIf="!hideMessage">{{ overrideMessage ? overrideMessage : ('EMPTY_RECORDS.NO_ITEMS_MESSAGE' | translate: { singular: (singular | translate) }) }}</p>
    <button *ngIf="!hideAddButton" class="empty-societies__button" (click)="onAddClick()">{{ overrideButtonText ? overrideButtonText : ('EMPTY_RECORDS.ADD_ITEM_BUTTON' | translate: { singular: (pascalCaseSingular | translate) }) }}</button>
</div>