<app-layout [hideMoreActions]="true" [title]="pageTitle" [showBackButton]="true">

    <ui-form-layout>

        <div class="flex" [smColumns]="12" [mdColumns]="12" [lgColumns]="12">
            <div class="flex-auto flex flex-gap">
                <ui-button label="Flats" type="only-content" *ngIf="canViewFlats" (clicked)="gotoViewFlats()">
                </ui-button>
                <ui-button label="Parkings" type="only-content" *ngIf="canViewFlats" (clicked)="gotoViewParkings()">
                </ui-button>
            </div>
            <div>
                <ui-button *ngIf="canAddBuildings" label="Add Building" type="primary" (clicked)="openAddDialog()">
                </ui-button>
            </div>
        </div>

        <div [smColumns]="12" [mdColumns]="12" [lgColumns]="12">
            <ui-label [valueText]="pendingBuildingsToAdd" [config]="pendingBuildingsConfig" direction="horizontal"
                [valueType]="pendingBuildingType" [smColumns]="12" [mdColumns]="6" [lgColumns]="3">
            </ui-label>
        </div>

        <!-- Building cards -->
        <ui-card [smColumns]="12" [mdColumns]="6" [lgColumns]="6" *ngFor="let building of buildings">
            <div card-main>
                {{ building.buildingNumber }} - <span class="floor-count"> {{ building.floors }} Floor {{
                    building.floors > 1 ? 's' : '' }}</span>
                <span class="manager" *ngIf="building.managerId">
                    Manager:
                    <i>{{ building.managerId | userName: true }}</i>
                </span>
            </div>
            <div card-icon class="building-action">
                <app-icon name="edit" *ngIf="canUpdateBuildings" (click)="openEditDialog(building)"></app-icon>
                <app-icon class="delete" name="delete" *ngIf="canDeleteBuildings" color="#a60000"
                    (click)="deleteBuilding(building)"></app-icon>
            </div>
        </ui-card>
    </ui-form-layout>
</app-layout>

<!-- Dialog template for building form -->
<ng-template #buildingFormTemplate>
    <form [formGroup]="fb">
        <app-add-edit-popup [title]="selectedBuildingId ? 'Edit Building' : 'Add Building'" (onClose)="closeDialog(); resetBuildingForm();">

            <ui-form-layout>

                <!-- Building number -->
                <ui-text-box formControlName="buildingNumber" [config]="buildingNumberConfig" [smColumns]="12"
                    [mdColumns]="10" [lgColumns]="8">
                </ui-text-box>

                <!-- Floors -->
                <ui-text-box formControlName="floors" type="number" [config]="floorsConfig" [smColumns]="12"
                    [mdColumns]="2" [lgColumns]="4">
                </ui-text-box>

                <!-- Manager section -->
                <section class="ui-form-layout" [smColumns]="12" [mdColumns]="12" [lgColumns]="12">
                    <ui-checklist class="flex-end" [formControl]="needManagerFormControl" [config]="needManagerConfig"
                        [options]="needManagerOptions" direction="horizontal" [smColumns]="12" [mdColumns]="12"
                        [lgColumns]="6">
                    </ui-checklist>
                    <ui-radio-list [formControl]="radioFormControl" [config]="radioConfig" label="Status"
                        *ngIf="needManager" helpText="Select current status" direction="horizontal"
                        [options]="radioOptions" [smColumns]="12" [mdColumns]="12" [lgColumns]="6">
                    </ui-radio-list>
                    <ui-contact-search [formControl]="contactSearchFormControl" [smColumns]="12" [mdColumns]="12"
                        [lgColumns]="12" *ngIf="needManager && showContactSearch">
                    </ui-contact-search>
                    <ui-user-search [formControl]="userSearchFormControl" [smColumns]="12" [mdColumns]="12"
                        [lgColumns]="12" *ngIf="needManager && showUserSearch">
                    </ui-user-search>
                </section>

                <!-- Action buttons: Cancel/Reset and Save -->
                <section class="flex flex-end flex-gap" [smColumns]="12" [mdColumns]="12" [lgColumns]="12">

                </section>

            </ui-form-layout>

            <ng-container actions>
                <ui-button [label]="'Cancel'" type="only-content" (clicked)="closeDialog(); resetBuildingForm()">
                </ui-button>
                <ui-button label="Save" type="primary" *ngIf="!selectedBuildingId" [isSubmit]="true"
                    [disable]="fb.invalid || !canAddBuildings || pendingBuildingsToAdd === 0" (clicked)="addBuilding()">
                </ui-button>
                <ui-button label="Save" type="primary" *ngIf="selectedBuildingId" [isSubmit]="true"
                    [disable]="fb.invalid || !canUpdateBuildings" (clicked)="editBuilding()">
                </ui-button>
            </ng-container>

        </app-add-edit-popup>
    </form>

</ng-template>