<app-layout [hideMoreActions]="true" [title]="pageTitle" [showBackButton]="true">
    <form [formGroup]="fb">
        <ui-form-layout>

            <div class="flex" [smColumns]="12" [mdColumns]="12" [lgColumns]="12">

                <div class="flex-auto flex flex-gap">
                    <ui-form-layout class="full-w">
                        <ui-society-search formControlName="society" [smColumns]="12" [mdColumns]="12" [lgColumns]="12"
                            *ngIf="!society">
                        </ui-society-search>

                        <ui-label [valueText]="society.societyName" [config]="societyNameConfig" direction="horizontal"
                            valueType="info" [smColumns]="12" [mdColumns]="10" [lgColumns]="10" *ngIf="society">
                        </ui-label>

                    </ui-form-layout>
                </div>

                <div>
                    <ui-button *ngIf="canAddParking" label="Add Flat" type="primary" (clicked)="openAddDialog()">
                    </ui-button>
                </div>
            </div>
            
            <!-- Building Drop Down -->
            <ui-drop-down formControlName="building" [config]="buildingSelectorConfig" [options]="buildingOptions"
                placeholder="Select Building" [smColumns]="12" [mdColumns]="6" [lgColumns]="3">
            </ui-drop-down>

            <ng-container *ngFor="let parking of parkings">
                <ui-card [smColumns]="12" [mdColumns]="6" [lgColumns]="6" [disable]="selectedParkingId === parking._id">

                    <div card-main class="flex-column">

                        <div class="flex flex-gap">
                            <span class="note">
                                <b>{{ parking.parkingNumber }}</b>
                            </span>
                            <span class="note">
                                {{ getFlatType(parking) }}
                            </span>
                        </div>

                        <div class="note" *ngIf="parking.flatId">
                            Flat {{ getFlatNumber(parking) }}
                        </div>
                    </div>
                    <div card-icon class="flat-action">
                        <app-icon name="edit" color="#a60000" *ngIf="canUpdateParking" (click)="openEditDialog(parking)">
                        </app-icon>
                        <app-icon class="delete" name="delete" color="#a60000" *ngIf="canDeleteParking"
                            (click)="deleteParking(parking)">
                        </app-icon>
                    </div>
                </ui-card>
            </ng-container>

        </ui-form-layout>
    </form>

</app-layout>

<ng-template #parkingTemplate>

    <form [formGroup]="fb">
        <app-add-edit-popup title="Add Building" (onClose)="closeDialog();">

            <ui-form-layout>
                <ui-society-search formControlName="society" [smColumns]="12" [mdColumns]="12" [lgColumns]="12"
                    *ngIf="!society">
                </ui-society-search>

                <ui-label [valueText]="society.societyName" [config]="societyNameConfig" direction="horizontal"
                    valueType="info" [smColumns]="12" [mdColumns]="10" [lgColumns]="10" *ngIf="society">
                </ui-label>

                <section class="ui-form-layout" [smColumns]="12" [mdColumns]="12" [lgColumns]="12" #target>

                    <ui-drop-down formControlName="building" [config]="buildingSelectorConfig"
                        [options]="buildingOptions" placeholder="Select Building" [smColumns]="12" [mdColumns]="6"
                        [lgColumns]="3">
                    </ui-drop-down>


                    <ui-drop-down formControlName="parkingType" [config]="parkingTypeSelectorConfig"
                        [options]="parkingTypeOptions" placeholder="Select Parking Type" [smColumns]="12"
                        [mdColumns]="6" [lgColumns]="3">
                    </ui-drop-down>


                    <ui-drop-down formControlName="flatId" [config]="flatIdConfig" [options]="parkingFlatOptions"
                        placeholder="Select Flat" [smColumns]="12" [mdColumns]="6" [lgColumns]="3">
                    </ui-drop-down>

                    <ui-text-box formControlName="parkingNumber" [config]="parkingNumberConfig" [smColumns]="12"
                        [mdColumns]="6" [lgColumns]="3">
                    </ui-text-box>
                </section>

                <ui-label [valueText]="errorMessage" [config]="{id: 'error'}" *ngIf="errorMessage" valueType="error"
                    [smColumns]="12" [mdColumns]="6" [lgColumns]="6">
                </ui-label>

            </ui-form-layout>


            <ng-container actions>
                <ui-button label="Auto Generate" type="only-content" [smColumns]="12" [mdColumns]="2" [lgColumns]="2"
                    (clicked)="generateParking()"
                    *ngIf="!selectedParkingId && selectedBuildingId && (society?.numberOfBuildings ?? 0) > 1">
                </ui-button>

                <ui-button label="Cancel" type="only-content" [smColumns]="12" [mdColumns]="2" [lgColumns]="2"
                    (clicked)="closeDialog()">
                </ui-button>

                <ui-button label="Save" [smColumns]="12" [mdColumns]="2" [lgColumns]="2" *ngIf="selectedParkingId"
                    [disable]="fb.invalid" (clicked)="updateParking()">
                </ui-button>

                <ui-button label="Add" [smColumns]="12" [mdColumns]="2" [lgColumns]="2" *ngIf="!selectedParkingId"
                    [disable]="fb.invalid" (clicked)="addParking()">
                </ui-button>

            </ng-container>

        </app-add-edit-popup>
    </form>
</ng-template>