@import '../../../styles/variables';

.app-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-dark-blue;

    .center {
        display: flex;
        gap: $sp-md;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    color: #7ec8ff;
    }

    .footer-item {
        text-decoration: none;
        color: $color-black;
        display: flex;
        gap: $sp-sm;
        align-items: center;
    }
}