<app-layout>

  <ng-container moreActions>
    <button class="btn"> More Action </button>
  </ng-container>


  <form [formGroup]="fb">

    <ui-form-layout>

      <ui-location-search formControlName="location" [config]="locationSearchConfig" [smColumns]="12" [mdColumns]="6" [lgColumns]="4">
      </ui-location-search>

      <ui-contact-search formControlName="contacts" [config]="contactSearchConfig" [smColumns]="12" [mdColumns]="6" [lgColumns]="4">
      </ui-contact-search>

      <ui-user-search formControlName="user" [smColumns]="12" [mdColumns]="6" [lgColumns]="4">
      </ui-user-search>

      <ui-button label="Click Me" [smColumns]="1" [mdColumns]="1" [lgColumns]="1">
      </ui-button>

      <ui-button label="Click Me Click Me Click Me" type="cancel" [allowWrapText]="true" [smColumns]="1" [mdColumns]="1"
        [lgColumns]="1">
      </ui-button>

      <ui-button label="Click Me Click Me Click Me" type="error" [smColumns]="1" [mdColumns]="1" [lgColumns]="1">
      </ui-button>

      <ui-button label="Click Me Click Me Click Me" type="only-content" [smColumns]="2" [mdColumns]="2" [lgColumns]="2">
      </ui-button>

      <ui-button label="Click Me" [smColumns]="12" [mdColumns]="12" [lgColumns]="12">
      </ui-button>

      <ui-text-box formControlName="userName" [config]="usernameConfig" [smColumns]="12" [mdColumns]="6"
        [lgColumns]="4">
      </ui-text-box>

      <ui-text-box formControlName="textName" [config]="textNameConfig" [smColumns]="12" [mdColumns]="6"
        [lgColumns]="4">
      </ui-text-box>

      <ui-drop-down formControlName="role" [config]="roleConfig" [options]="roleOptions" placeholder="Select role"
        [smColumns]="12" [mdColumns]="6" [lgColumns]="4">
      </ui-drop-down>

      <ui-search-box formControlName="user" [config]="userSearchConfig" [options]="filteredUsers"
        placeholder="Search user" (searchChange)="onUserSearch($event)" [smColumns]="12" [mdColumns]="6"
        [lgColumns]="4">
      </ui-search-box>

      <ui-radio-list formControlName="status" [config]="radioConfig" label="Status" helpText="Select current status"
        [options]="radioOptions" [smColumns]="12" [mdColumns]="6" [lgColumns]="4">
      </ui-radio-list>

      <ui-radio-list formControlName="statusH" [config]="radioConfig" label="Status" helpText="Select current status"
        direction="horizontal" [options]="radioOptions" [smColumns]="12" [mdColumns]="6" [lgColumns]="4">
      </ui-radio-list>

      <ui-checklist formControlName="permissions" [config]="permissionConfig" [options]="permissionOptions"
        helpText="You can select multiple options" [smColumns]="12" [mdColumns]="6" [lgColumns]="4">
      </ui-checklist>

      <ui-checklist formControlName="permissionsH" [config]="permissionConfig" [options]="permissionOptions"
        direction="horizontal" helpText="You can select multiple options" [smColumns]="12" [mdColumns]="6"
        [lgColumns]="8">
      </ui-checklist>

      <ui-label formControlName="type" [config]="typeLabelConfig" [smColumns]="12" [mdColumns]="6" [lgColumns]="3">
      </ui-label>

      <ui-label valueText="active" [config]="typeLabelConfig" direction="vertical" valueType="expired" [smColumns]="12"
        [mdColumns]="6" [lgColumns]="3">
      </ui-label>

      <ui-tabs [config]="settingTabsConfig" [tabs]="tabsOptions" formControlName="settingsTab" direction="vertical"
        height="100px" [smColumns]="12" [mdColumns]="12" [lgColumns]="12">

        <ng-template uiTab="profile">
          <h3>Profile</h3>
          <p>Update your personal information.</p>
          <h3>Profile</h3>
          <p>Update your personal information.</p>
          <h3>Profile</h3>
          <p>Update your personal information.</p>
          <h3>Profile</h3>
          <p>Update your personal information.</p>
          <h3>Profile</h3>
          <p>Update your personal information.</p>
          <h3>Profile</h3>
          <p>Update your personal information.</p>
          <h3>Profile</h3>
          <p>Update your personal information.</p>
          <h3>Profile</h3>
          <p>Update your personal information.</p>
        </ng-template>

        <ng-template uiTab="security">
          <h3>Security</h3>
          <p>Change password and manage sessions.</p>
        </ng-template>

        <ng-template uiTab="notifications">
          <h3>Notifications</h3>
          <p>Email and push notification preferences.</p>
        </ng-template>

      </ui-tabs>

    </ui-form-layout>

  </form>

  <pre>
    {{
      fb.value | json
    }}
  </pre>
</app-layout>