<app-layout [title]="managerName" [hideMoreActions]="true" [showBackButton]="true">
    <ui-form-layout>

        <ng-container *ngIf="canAddSocietyManager">

            <ui-radio-list [formControl]="radioFormControl" [config]="radioConfig" label="Status"
                helpText="Select current status" direction="horizontal" [options]="radioOptions" [smColumns]="12"
                [mdColumns]="12" [lgColumns]="12">
            </ui-radio-list>


            <ui-contact-search [formControl]="contactSearchFormControl" [smColumns]="12" [mdColumns]="8" [lgColumns]="8"
                *ngIf="showContactSearch">
            </ui-contact-search>

            <ui-user-search [formControl]="userSearchFormControl" [smColumns]="12" [mdColumns]="8" [lgColumns]="8"
                *ngIf="showUserSearch">
            </ui-user-search>



            <div class="flex ui-form-layout flex-end" [smColumns]="12" [mdColumns]="8" [lgColumns]="8">

                <ui-button label="Cancel" type="cancel" [smColumns]="6" [mdColumns]="2" [lgColumns]="2"
                    (clicked)="cancel()">
                </ui-button>


                <ui-button label="Save" type="primary" [smColumns]="6" [mdColumns]="2" [lgColumns]="2"
                    [disable]="fb.invalid" (clicked)="addSecretary()">
                </ui-button>
            </div>

        </ng-container>

        <ui-card [smColumns]="12" [mdColumns]="6" [lgColumns]="6" *ngFor="let manager of managers">
            <div card-main>
                {{ manager.name ?? manager.phoneNumber }}
            </div>
            <div card-icon (click)="removeSecretary(manager)" *ngIf="canDeleteSocietyManager">
                <app-icon class="delete" name="delete" color="#a60000"></app-icon>
            </div>
        </ui-card>

    </ui-form-layout>


</app-layout>