<nav class="app-menu" [attr.data-mode]="mode" [class.open]="open">

    <!-- overlay backdrop for tablet/mobile when open -->
    <div class="backdrop" *ngIf="open && mode !== 'desktop'" (click)="closeOverlay()"></div>

    <!-- Expanded area (desktop) or popover/drawer (tablet/mobile) -->
    <div class="menu-inner">
        <div class="brand" (click)="toggleMenu()" *ngIf="mode !== 'desktop'">
            <div class="brand-icon">
                <app-icon name="double-arrow-right" color="white" *ngIf="!this.open"></app-icon>
            </div>
            <div class="menu-close" *ngIf="open">
                <button class="btn only-content" *ngIf="open">
                    <app-icon name="clear" color="white"></app-icon>
                </button>
            </div>
        </div>

        <ul class="menu-list">
            <li *ngFor="let m of menuItems" class="menu-item">
                <div (click)="closeOverlay(m)"  [ngClass]="{ 'active': menuService.selectedMenu.value?.menuId === m.menuId}">
                    <app-icon [name]="m.icon ?? ''" [color]="menuService.selectedMenu.value?.menuId === m.menuId ? '#05ff01' : 'white'"></app-icon>
                    <span class="label" *ngIf="open">{{ m.menuName }}</span>
                </div>
            </li>
        </ul>
    </div>

</nav>