<app-layout [hideMoreActions]="true">

    <form [formGroup]="fb">
        <ui-form-layout>

            <ui-select2 formControlName="society" [config]="societySearchConfig" [options]="societyOptions"
                placeholder="Search Society" [smColumns]="12" [mdColumns]="6" [lgColumns]="4">
            </ui-select2>

            <ui-text-box formControlName="title" [config]="titleConfig" [smColumns]="12" [mdColumns]="6"
                [lgColumns]="4">
            </ui-text-box>

            <ui-text-box formControlName="content" [config]="contentConfig" [smColumns]="12" [mdColumns]="6"
                [lgColumns]="4">
            </ui-text-box>

            <ui-date formControlName="expiryDate" [config]="expiryDateConfig" [smColumns]="12" [mdColumns]="6"
                [lgColumns]="4">
            </ui-date>
            <div class="no-mobile no-tablet" [lgColumns]="8"></div>

            <ui-radio-list formControlName="priority" [config]="priorityConfig" direction="horizontal"
                [options]="priorityConfig.dropDownOptions ?? []" [smColumns]="12" [mdColumns]="6" [lgColumns]="12">
            </ui-radio-list>

            <ui-radio-list formControlName="category" [config]="categoryConfig" direction="horizontal"
                [options]="categoryConfig.dropDownOptions ?? []" [smColumns]="12" [mdColumns]="6" [lgColumns]="12">
            </ui-radio-list>

            <section [smColumns]="12" [mdColumns]="12" [lgColumns]="10" class="flex flex-end flex-gap">
                <ui-button type="only-content" label="Cancel" (clicked)="cancel()">
                </ui-button>
                <ui-button type="only-content" label="Save Draft" (clicked)="saveDraft()" [disable]="fb.invalid">
                </ui-button>
                <ui-button [isSubmit]="true" label="Publish" [disable]="fb.invalid" (clicked)="publish()">
                </ui-button>
            </section>

        </ui-form-layout>

    </form>

</app-layout>