<div class="flex-col confirmation-container">
    <div class="flex flex-end header">
        <ui-button type="only-content" label="" (clicked)="close()">
            <app-icon name="clear"></app-icon>
        </ui-button>
    </div>

    <div class="flex-col flex-center content-area">
        <div class="icon-wrapper" *ngIf="data.icon">
            <app-icon size="xxxl" [name]="data.icon"></app-icon>
        </div>

        <div class="message-wrapper">
            <h3 class="message-text">{{ data.message }}</h3>
        </div>

        <div class="input-wrapper" *ngIf="data.showInput">
            <ui-text-box [formControl]="inputControl"
                [config]="{id: 'popupInput', label: '', placeholder: data.inputPlaceholder || 'Enter details...'}"></ui-text-box>
        </div>
    </div>

    <div class="flex flex-center footer-actions" *ngIf="data.actionButtons.length > 0">
        <ng-container *ngFor="let action of data.actionButtons">
            <ui-button [label]="action.label"
                [type]="action.type || (action.class === 'primary' ? 'primary' : action.class === 'error' ? 'error' : 'cancel')"
                (clicked)="onAction(action.result)"></ui-button>
        </ng-container>
    </div>
</div>