@import './variables';
@import './mixins';

.ui-form-layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

/* Base column */
.ui-col {
    min-width: 0;
}

/* Small screens (mobile) */
@include mobile {
    @for $i from 0 through 12 {
        .ui-col-sm-#{$i} {
            grid-column: span $i;
        }
    }
}

/* Medium screens (tablet) */
@include tablet {
    @for $i from 0 through 12 {
        .ui-col-md-#{$i} {
            grid-column: span $i;
        }
    }
}

/* Large screens (desktop) */
@include desktop {
    @for $i from 0 through 12 {
        .ui-col-lg-#{$i} {
            grid-column: span $i;
        }
    }
}
