<app-layout [hideMoreActions]="!canAddSocietyAdmin" [title]="adminName" [showBackButton]="true">

    <ng-container moreActions>
        <ui-button label="Add Admin" type="primary" (clicked)="openAddDialog()">
        </ui-button>
    </ng-container>

    <ui-form-layout>

        <!-- Multi Select -->
        <ui-multi-select [smColumns]="12" [mdColumns]="12" [lgColumns]="12" [selectMode]="selectMode"
            [selectedIds]="selectedIds" [showDelete]="true" (changeSelectionMode)="toggleSelectionMode()"
            (delete)="deleteAllSelectedRecords()">
        </ui-multi-select>

        <ng-container *ngFor="let admin of admins">
            <ui-manager-card [user]="admin" [smColumns]="12" [mdColumns]="6" [lgColumns]="6" [selectMode]="selectMode"
                [selected]="selectedIds.has(admin._id)" [showDelete]="canDeleteSocietyAdmin && !selectMode"
                (selectedChange)="onSelectionChange(admin._id, $event)" (delete)="removeAdmin(admin)">
            </ui-manager-card>
        </ng-container>

    </ui-form-layout>


</app-layout>

<ng-template #adminTemplate>
    <app-add-edit-popup title="Add Admin" (onClose)="closeDialog();">

        <ui-form-layout>
            <ui-radio-list [formControl]="radioFormControl" [config]="radioConfig" label="Status"
                helpText="Select current status" direction="horizontal" [options]="radioOptions" [smColumns]="12"
                [mdColumns]="12" [lgColumns]="12">
            </ui-radio-list>


            <ui-contact-search [formControl]="contactSearchFormControl" [smColumns]="12" [mdColumns]="8" [lgColumns]="8"
                *ngIf="showContactSearch">
            </ui-contact-search>

            <ui-user-search [formControl]="userSearchFormControl" [smColumns]="12" [mdColumns]="8" [lgColumns]="8"
                *ngIf="showUserSearch">
            </ui-user-search>
        </ui-form-layout>

        <ng-container actions>
            <ui-button label="Cancel" type="cancel" [smColumns]="6" [mdColumns]="2" [lgColumns]="2"
                (clicked)="closeDialog()">
            </ui-button>


            <ui-button label="Save" type="primary" [smColumns]="6" [mdColumns]="2" [lgColumns]="2"
                [disable]="fb.invalid" (clicked)="addAdmin()">
            </ui-button>
        </ng-container>

    </app-add-edit-popup>
</ng-template>