@import '../../../../styles/variables';

.selection-count {

    .label {
        font-size: $font-size-xs;
        font-weight: 600;
        color: $color-help-text;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-bottom: $sp-xs;
    }

    .value {
        word-break: break-word;
        line-height: 1.5;
        color: $color-note-gray;
        font-size: $font-size-xs;
    }
}
