@import '../../../../styles/variables';

.json-node {
    font-family: monospace;
    font-size: 13px;
}

.json-header {
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    margin: 4px 0;
}

.toggle {
    margin-right: 4px;
    color: $color-dark-blue;
}

.json-children {
    padding-left: 16px;
    border-left: 1px dotted $status-expired;
}

.json-row {
    margin: 2px 0;
}

.json-key {
    color: $status-rejected;
}

.json-index {
    color: $color-light-gray;
}

.json-value {
    color: $status-approved;
}