<app-layout [hideMoreActions]="!canAddSociety">

  <ng-container moreActions>
    <ui-button *ngIf="canAddSociety" label="Add Society" type="primary" routerLink="../add" [smColumns]="1"
      [mdColumns]="1" [lgColumns]="1">
    </ui-button>
  </ng-container>

  <ui-form-layout>
    <ng-container *ngFor="let s of socities">
      <ui-society-card [society]="s"  [smColumns]="12" [mdColumns]="6" [lgColumns]="6" (clicked)="handleSocietyClick(s)">
      </ui-society-card>
    </ng-container>

  </ui-form-layout>
</app-layout>
