@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.society-name {
    color: $color-dark-blue;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.2;

    // @include fluid-font(18px, 16px, 15px);

    &:hover {
        text-decoration: underline;
    }
}

.society-meta {
    display: flex;
    gap: 18px;
    color: $color-black;
    opacity: 0.85;

    @include mobile {
        gap: 12px;
        flex-wrap: wrap;
    }
}

.society-address {
    color: $color-note-gray;
    line-height: 1.4;
    max-width: 520px;

    @include desktop {
        max-width: 680px;
    }
}

