<app-layout [hideMoreActions]="!canAddSociety" pageTitle="Societies" backButtonURL="/dashboard/user">

  <ng-container moreActions>

    <ul class="page-menu-list" *ngIf="canAddSociety">
      <li class="page-menu" routerLink="../add">Add Society</li>
    </ul>
  </ng-container>

  <ui-form-layout>
    <!-- Loading indicator for plans -->
    <ui-loading *ngIf="loadingSocieties" message="Loading societies" [smColumns]="12" [mdColumns]="12" [lgColumns]="12">
    </ui-loading>

    <ng-container *ngIf="!loadingSocieties">
      <ng-container *ngFor="let s of societies">
        <ui-society-card [society]="s" [plan]="societyPlans.get(s._id)" [loadingPlans]="loadingPlans[s._id]"
          [smColumns]="12" [mdColumns]="6" [lgColumns]="6" (clicked)="handleSocietyClick(s)">
        </ui-society-card>
      </ng-container>
    </ng-container>

  </ui-form-layout>
</app-layout>