<app-layout title="Members" [subTitle]="societyService.selectedSocietyFilterValue?.label">
    <ng-container moreActions>
        <!-- <ui-button label="New Member" type="primary" routerLink="../add">
        </ui-button> -->
        <ul class="page-menu-list">
            <li class="page-menu" routerLink="../add">New Member</li>
        </ul>
    </ng-container>

    <div class="flex-col full-h">
        <app-filter [smColumns]="12" [mdColumns]="12" [lgColumns]="12" [loadFirstSociety]="true" [loadFirstFlat]="true"
            (filterChanged)="loadMembers($event)">
        </app-filter>

        <ui-form-layout class="flex-auto">

            <ng-container *ngFor="let member of members">
                <ui-flat-member-card [member]="member" (deleteMember)="deleteMember(member)" viewerRole="admin"
                    [showDelete]="allowDelete(member)" [smColumns]="12" [mdColumns]="6" [lgColumns]="4">
                </ui-flat-member-card>
            </ng-container>

            <ng-container *ngIf="members.length === 0">
                <app-empty-records singular="members" plural="members" routerLink="../add" [smColumns]="12"
                    [mdColumns]="12" [lgColumns]="12">
                    <app-icon icon name="member" size="xxl"></app-icon>
                </app-empty-records>
            </ng-container>

        </ui-form-layout>
    </div>
</app-layout>