@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.visitor-name {
    color: $color-dark-blue;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.2;

    // @include fluid-font(18px, 16px, 15px);

    &:hover {
        text-decoration: underline;
    }
}

.visitor-meta {
    display: flex;
    gap: 18px;
    color: $color-black;
    opacity: 0.85;

    @include mobile {
        gap: 12px;
        flex-wrap: wrap;
    }
}

.control-container {
    position: relative;
    width: 100%;
}

.loading-spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    border-radius: $btn-border-radius-md;
    pointer-events: none;

    .spinner {
        width: 24px;
        height: 24px;
        border: 3px solid $color-border;
        border-top: 3px solid $color-dark-blue;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
