<app-layout [hideMoreActions]="true">

    <form [formGroup]="entryForm">

        <ui-form-layout>

            <ui-tabs [config]="tabsConfig" [tabs]="tabsOptions" [formControl]="tabControl" height="100%"
                [smColumns]="12" [mdColumns]="12" [lgColumns]="12">

                <ng-template uiTab="entry">
                    <br>
                    <br class="no-mobile">
                    <ui-form-layout>

                        <div class="no-mobile no-tablet" [lgColumns]="2"></div>
                        <section class="flex flex-gap" [smColumns]="12" [mdColumns]="6" [lgColumns]="4">
                            <ui-button label="Scan QR" type="only-content" (clicked)="scanQRCode()">
                                <app-icon name="qr-code" size="md"></app-icon>
                            </ui-button>
                            <ui-button label="Enter OTP" type="only-content" (clicked)="enterOTP()"
                                [disable]="!isSocietySelected">
                            </ui-button>
                        </section>
                        <div class="no-mobile" [mdColumns]="9" [lgColumns]="6"></div>

                        <div class="no-mobile no-tablet" [lgColumns]="2"></div>

                        <!-- Society -->
                        <ui-select2 formControlName="society" [config]="societyConfig" [options]="societyOptions"
                            placeholder="" [smColumns]="12" [mdColumns]="6" [lgColumns]="4">
                        </ui-select2>

                        <!-- Flat -->
                        <ui-select2 formControlName="flat" [config]="flatConfig" [options]="flatOptions" placeholder=""
                            [smColumns]="12" [mdColumns]="6" [lgColumns]="4">
                        </ui-select2>
                        <div class="no-mobile no-tablet" [lgColumns]="2"></div>




                        <div class="no-mobile no-tablet" [lgColumns]="2"></div>
                        <!-- Visitor Name -->
                        <ui-text-box formControlName="visitorName" [config]="visitorNameConfig" [smColumns]="12"
                            [mdColumns]="6" [lgColumns]="4">
                        </ui-text-box>

                        <!-- Visitor Contact -->
                        <ui-text-box formControlName="visitorContact" [config]="visitorContactConfig" [smColumns]="12"
                            [mdColumns]="6" [lgColumns]="4">
                        </ui-text-box>
                        <div class="no-mobile no-tablet" [lgColumns]="2"></div>




                        <div class="no-mobile no-tablet" [lgColumns]="2"></div>
                        <!-- Vehicle Number -->
                        <ui-text-box formControlName="vehicleNumber" [config]="vehicleNumberConfig" [smColumns]="12"
                            [mdColumns]="6" [lgColumns]="4">
                        </ui-text-box>

                        <!-- Purpose -->
                        <ui-text-box formControlName="purpose" [config]="purposeConfig" [smColumns]="12" [mdColumns]="6"
                            [lgColumns]="4">
                        </ui-text-box>

                        <div class="no-mobile no-tablet" [lgColumns]="2"></div>



                        <div class="no-mobile" [mdColumns]="3" [lgColumns]="4"></div>
                        <section class="flex flex-end flex-gap flex-wrap" [smColumns]="12" [mdColumns]="12"
                            [lgColumns]="10">
                            <ui-button label="Request Approval" type="only-content" (clicked)="requestApproval()"
                                [disable]="!isFlatSelected || !isSocietySelected || entryForm.invalid">
                            </ui-button>
                            <ui-button label="Self Approve" type="only-content" (clicked)="selfApprove()"
                                [disable]="isFlatSelected || !isSocietySelected || entryForm.invalid">
                            </ui-button>
                        </section>
                        <div class="no-mobile" [mdColumns]="3" [lgColumns]="4"></div>


                    </ui-form-layout>
                </ng-template>

            </ui-tabs>

        </ui-form-layout>

    </form>

    <ui-form-layout>
        <ng-container *ngFor="let gateEntry of pendingApprovals">
            <ui-card [smColumns]="12" [mdColumns]="6" [lgColumns]="6" height="80px">
                <ng-container card-main>
                    <a class="visitor-name">
                        {{ gateEntry.visitorName }}
                    </a>
                    <div class="visitor-meta">
                        <span>
                            <strong>Flat:</strong>
                            {{ getGateEntryFlat(gateEntry)?.flatNumber }}
                            ({{ getGateEntryFlat(gateEntry)?.floor }})
                        </span>
                    </div>
                </ng-container>
            </ui-card>
        </ng-container>
    </ui-form-layout>

</app-layout>