<div class="gate-entry-popup">
    <!-- Title -->
    <div class="popup-title">
        Visitor Entry Request

        <app-icon name="clear" (click)="close()"></app-icon>
    </div>

    <!-- Countdown -->
    <div class="popup-countdown" [class.expired]="isExpired" *ngIf="gateEntry.status === 'requested'">
        {{ remainingSeconds }} seconds remaining
    </div>

    <!-- Details -->
    <div class="details">
        <div class="detail-item">
            <span class="detail-label">Visitor Name</span>
            <span class="detail-value">{{ gateEntry.visitorName }}</span>
        </div>

        <div class="detail-item">
            <span class="detail-label">Contact</span>
            <span class="detail-value">
                {{ gateEntry.visitorContact || '—' }}
            </span>
        </div>

        <div class="detail-item">
            <span class="detail-label">Flat</span>
            <span class="detail-value">
                {{ Flat?.flatNumber }}
            </span>
        </div>

        <div class="detail-item">
            <span class="detail-label">Floor</span>
            <span class="detail-value">
                {{ Flat?.floor }}
            </span>
        </div>

        <div class="detail-item">
            <span class="detail-label">Vehicle</span>
            <span class="detail-value">
                {{ gateEntry.vehicleNumber || 'N/A' }}
            </span>
        </div>

        <div class="detail-item detail-purpose">
            <span class="detail-label">Purpose</span>
            <span class="detail-value">{{ gateEntry.purpose }}</span>
        </div>
    </div>

    <!-- Actions -->
    <div class="popup-actions" *ngIf="gateEntry.status === 'requested'">

        <ng-container *ngIf="!isForApproval">
            <button class="cancel-btn" (click)="close()">
                Close
            </button>

            <button class="resend-btn-large" [disabled]="!isExpired" (click)="resendRequest()">
                Resend Request
            </button>
        </ng-container>


        <ng-container *ngIf="isForApproval">
            <button class="btn error" (click)="approveReject('rejected')">
                Reject
            </button>

            <button class="btn primary" (click)="approveReject('approved')">
                Approve
            </button>
        </ng-container>

    </div>

    <div class="gate-entry-status" [ngClass]="getGateEntryStatusColorName()">
        {{ gateEntry.status | uppercase}}
    </div>
</div>