<div class="ui-control" [class.disabled]="disabled" [class.invalid]="invalid" [ngClass]="config?.cssClass">


    <!-- Label -->
    <label *ngIf="config?.label" class="ui-label">
        {{ config?.label }}
        <span *ngIf="required" class="required">*</span>
    </label>


    <!-- Checklist -->
    <div class="ui-checklist" [class.horizontal]="direction === 'horizontal'">
        <label class="ui-check-item" *ngFor="let option of options" [class.disabled]="option.disabled">


            <input #inputEl type="checkbox" [checked]="isChecked(option)" [disabled]="disabled || option.disabled"
                (change)="toggle(option, !isChecked(option))" />


            <span class="custom-box"></span>
            <span class="option-label">{{ option.label }}</span>


        </label>
    </div>


    <!-- Help text -->
    <div *ngIf="config?.helpText" class="ui-help">
        {{ config?.helpText }}
    </div>


    <!-- Errors -->
    <div *ngIf="invalid" class="ui-error">
        <ng-container *ngFor="let key of errorKeys">
            <span *ngIf="errors?.[key]">
                {{ config?.errorMessages?.[key] || 'Invalid value' }}
            </span>
        </ng-container>
    </div>


</div>