<app-layout [hideMoreActions]="hideMoreAction" [pageTitle]="'ANNOUNCEMENTS.TITLE' | translate"
    [subTitle]="societyService.selectedSocietyFilterValue?.label">
    <ng-container moreActions>
        <!-- <ui-button label="New Announcement" type="primary" routerLink="../add">
        </ui-button> -->


        <ul class="page-menu-list" *ngIf="!hideMoreAction">
            <li class="page-menu" routerLink="../add">{{ 'ANNOUNCEMENTS.NEW_ANNOUNCEMENT' | translate }}</li>
        </ul>
    </ng-container>

    <div class="flex-col full-h">

        <app-filter [dropDownControlConfigs]="[categoryConfig, priorityConfig, statusConfig, isPinnedConfig]"
            [loadFirstSociety]="true" [hideFlatSearch]="true" [societyControlSizes]="[12,6,3]" [smColumns]="12"
            [mdColumns]="12" [lgColumns]="12" (filterChanged)="loadAnnouncements($event)">

            <ui-select2 [formControl]="categoryControl" [config]="categoryConfig"
                [options]="categoryConfig.dropDownOptions ?? []" [placeholder]="'ANNOUNCEMENTS.SELECT_CATEGORY' | translate" [smColumns]="12"
                [mdColumns]="6" [lgColumns]="3">
            </ui-select2>

            <ui-select2 [formControl]="priorityControl" [config]="priorityConfig"
                [options]="priorityConfig.dropDownOptions ?? []" [placeholder]="'ANNOUNCEMENTS.SELECT_PRIORITY' | translate" [smColumns]="12"
                [mdColumns]="6" [lgColumns]="3">
            </ui-select2>

            <ui-select2 [formControl]="statusControl" [config]="statusConfig"
                [options]="statusConfig.dropDownOptions ?? []" [placeholder]="'ANNOUNCEMENTS.SELECT_STATUS' | translate" [smColumns]="12"
                [mdColumns]="6" [lgColumns]="3">
            </ui-select2>

            <ui-select2 [formControl]="isPinnedControl" [config]="isPinnedConfig"
                [options]="isPinnedConfig.dropDownOptions ?? []" [smColumns]="12" [mdColumns]="6" [lgColumns]="3">
            </ui-select2>

        </app-filter>

        <ui-form-layout class="flex-auto">

            <ng-container *ngIf="!loadingAnnouncements">

                <ng-container *ngFor="let announcement of announcements">
                    <ui-announcement-card [announcement]="announcement" [viewerRole]="societyRole ?? 'admin'"
                        [actionInProgress]="loadingAnnouncementAction[announcement._id]"
                        (viewAnnouncement)="viewAnnouncement(announcement)"
                        (editAnnouncement)="editAnnouncement(announcement)"
                        (pinAnnouncement)="togglePinAnnouncement(announcement)"
                        (deleteAnnouncement)="deleteAnnouncement(announcement)" [smColumns]="12" [mdColumns]="6"
                        [lgColumns]="6">
                    </ui-announcement-card>
                </ng-container>

                <ng-container *ngIf="announcements.length === 0">
                    <app-empty-records [singular]="'ANNOUNCEMENTS.SINGULAR'" [plural]="'ANNOUNCEMENTS.PLURAL'" [hideAddButton]="hideMoreAction"
                        addRouterLink="../add" [smColumns]="12" [mdColumns]="12" [lgColumns]="12">
                        <app-icon icon name="announcement" size="xxl"></app-icon>
                    </app-empty-records>
                </ng-container>

            </ng-container>


            <ui-loading *ngIf="loadingAnnouncements" [message]="'ANNOUNCEMENTS.LOADING' | translate" [smColumns]="12" [mdColumns]="12"
                [lgColumns]="12">
            </ui-loading>

        </ui-form-layout>
    </div>
</app-layout>