<header class="app-header header-root">
    <div class="left">
        <img class="icon menu-icon" src="assets/logo.png" (click)="onMenuClick()">
    </div>

    <div class="left">
        <div class="app-logo">
            <span class="logo-full">
                <span class="n-bold">N</span>est <span class="n-bold">N</span>et
            </span>

            <span class="logo-mobile">
                <span class="n-bold">NN</span>
            </span>
        </div>
    </div>

    <div class="center">
        <select class="input center-dropdown" [value]="selected" (change)="onSelectChange($any($event.target).value)" *ngIf="showSocietyFilter">
            <option *ngFor="let opt of dropdownOptions" [value]="opt">{{ opt }}</option>
        </select>
    </div>

    <div class="right">
        <app-user-icon></app-user-icon>
    </div>
</header>