@import '../../../styles/variables';
@import '../../../styles/mixins';

.header-root {
    padding: $sp-sm $sp-lg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $sp-lg;

    .left {
        display: flex;
        align-items: center;
    }
    .center {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    .right {
        display: flex;
        align-items: center;
        gap: $sp-sm;
    }

    .app-logo {
        display: flex;
        align-items: center;
        font-weight: 500;
        letter-spacing: 0.5px;

        .n-bold {
            font-weight: 900;
            color: $icon-on-light-highlight;
        }

        .logo-full {
            font-size: 1.4rem;
        }

        .logo-mobile {
            font-size: 1.4rem;
        }
    }


    .menu-icon {
        height: auto;
        border-radius: 0px;
    }

    // responsive icon color depending on header background
    @include mobile {
        
        .logo-full {
            display: none;
        }

        .logo-mobile {
            display: inline;
        }

        .center {
            display: none;
        };
    }

    @include tablet {
        
        .logo-full {
            display: inline;
        }

        .logo-mobile {
            display: none;
        }

        .center {
            display: block;
            width: 60%;
        }
    }

    @include desktop {
        
        .logo-full {
            display: inline;
        }

        .logo-mobile {
            display: none;
        }

        .center {
            width: 40%;
        }
    }
}
