<app-layout>

    <ng-container moreActions>
        <ui-button label="Add Pass" type="primary" routerLink="../add">
        </ui-button>
    </ng-container>

    <ui-form-layout>
        <ui-select2 [formControl]="societiesSearchControl" [config]="societiesSearchConfig" [options]="societyOptions"
            placeholder="Search Society" [smColumns]="12" [mdColumns]="5" [lgColumns]="5">
        </ui-select2>

        <ui-select2 [formControl]="flatControl" [config]="flatSearchConfig" [options]="flatOptions"
            placeholder="Search Flat" [smColumns]="12" [mdColumns]="5" [lgColumns]="5">
        </ui-select2>


        <ng-container *ngFor="let gatepass of gatepasses">

            <ui-card [smColumns]="12" [mdColumns]="6" [lgColumns]="6" height="180px">

                <ng-container card-main>

                    <ui-label [config]="{id: '', label: getGatePassUser(gatepass)?.name}"
                        [valueText]="getGatePassUser(gatepass)?.phoneNumber">
                    </ui-label>

                    <ui-label [config]="{id: '', label: 'OTP'}" [valueText]="gatepass.otp">
                    </ui-label>

                    <ui-label [config]="{id: '', label: 'Remarks'}" [valueText]="gatepass.remarks">
                    </ui-label>

                </ng-container>

                <div card-icon class="flex flex-end flex-gap flex-align-item">

                    <ui-button label="" type="only-content">
                        <app-icon name="qr-code"></app-icon>
                    </ui-button>

                    <app-icon class="delete" name="delete" color="#a60000" *ngIf="!gatepass.isAssignedBySociety" (click)="deletePass(gatepass)">
                    </app-icon>
                </div>

            </ui-card>

        </ng-container>

    </ui-form-layout>

</app-layout>