<app-layout title="Gate Pass" [subTitle]="societyService.selectedSocietyFilterValue?.label">

    <ng-container moreActions>

        <ul class="page-menu-list">
            <li class="page-menu" (click)="openAddGatePass()">New Pass</li>
        </ul>
    </ng-container>

    <div class="flex-col full-h">
        <app-filter [smColumns]="12" [mdColumns]="12" [lgColumns]="12" [loadFirstSociety]="true" [loadFirstFlat]="true"
            [supressAdminManageFlats]="true" [loadFirstSociety]="true" [selectedFlatId]="routeFlatId"
            (filterChanged)="handleSelectedFilterChanged($event)">
        </app-filter>

        <ui-form-layout class="flex-auto">
            <ng-container *ngIf="!loadingGatePasses">

                <ng-container *ngFor="let gatepass of gatepasses">
                    <ui-gate-pass-card [gatePass]="gatepass" [actionInProgress]="loadingGatePassActions[gatepass._id]"
                        [smColumns]="12" [mdColumns]="6" [lgColumns]="6" [showDelete]="!gatepass.isAssignedBySociety"
                        (showQR)="showQR(gatepass)" (delete)="deletePass(gatepass)">
                    </ui-gate-pass-card>

                </ng-container>

                <ng-container *ngIf="gatepasses.length === 0">
                    <app-empty-records singular="gate pass" plural="gate passes" (addClicked)="openAddGatePass()"
                        [smColumns]="12" [mdColumns]="12" [lgColumns]="12">
                        <app-icon icon name="gatepass" size="xxl"></app-icon>
                    </app-empty-records>
                </ng-container>

            </ng-container>


            <ui-loading *ngIf="loadingGatePasses" message="Loading gate passes" [smColumns]="12" [mdColumns]="12"
                [lgColumns]="12">
            </ui-loading>

        </ui-form-layout>
    </div>

</app-layout>