<app-layout title="Tenant Management" [subTitle]="societyService.selectedSocietyFilterValue?.label">
    <ng-container moreActions>
        <ul class="page-menu-list">
            <li class="page-menu" (click)="openAddTenant()">New Tenant</li>
        </ul>
    </ng-container>

    <div class="flex-col full-h">
        <app-filter [loadFirstSociety]="true" [loadFirstFlat]="true" [selectedFlatId]="routeFlatId" [smColumns]="12"
            [mdColumns]="12" [lgColumns]="12" (filterChanged)="loadTenants($event)">
        </app-filter>

        <ui-form-layout class="flex-auto">

            <ng-container *ngIf="!loadingTenants">
                <ng-container *ngFor="let tenant of tenants">
                    <ui-flat-member-card [member]="tenant" [showDelete]="true" [showMoveInOut]="true"
                        [actionInProgress]="loadingTenantAction[tenant._id]" (deleteMember)="deleteTenant(tenant)"
                        (moveInMember)="moveIn(tenant)" (moveOutMember)="moveOut(tenant, $event)" [smColumns]="12"
                        [mdColumns]="6" [lgColumns]="4">
                    </ui-flat-member-card>
                </ng-container>

                <ng-container *ngIf="tenants.length === 0">
                    <app-empty-records singular="tenant" plural="tenants" (addClicked)="openAddTenant()"
                        [smColumns]="12" [mdColumns]="12" [lgColumns]="12">
                        <app-icon icon name="tenant" size="xxl"></app-icon>
                    </app-empty-records>
                </ng-container>

            </ng-container>

            <ui-loading *ngIf="loadingTenants" message="Loading tenants" [smColumns]="12" [mdColumns]="12"
                [lgColumns]="12">
            </ui-loading>

        </ui-form-layout>
    </div>
</app-layout>