<app-layout title="Tenant Management" [subTitle]="societyService.selectedSocietyFilterValue?.label">
    <ng-container moreActions>
        <!-- <ui-button label="New Tenant" type="primary" routerLink="../add">
        </ui-button> -->
        <ul class="page-menu-list">
            <li class="page-menu" routerLink="../add">New Tenant</li>
        </ul>
    </ng-container>

    <div class="flex-col full-h">
        <app-filter [smColumns]="12" [mdColumns]="12" [loadFirstSociety]="true" [loadFirstFlat]="true" [lgColumns]="12"
            (filterChanged)="loadTenants($event)">
        </app-filter>

        <ui-form-layout class="flex-auto">

            <ng-container *ngFor="let tenant of tenants">
                <ui-flat-member-card [member]="tenant" [showDelete]="true" (deleteMember)="deleteTenant(tenant)"
                    (moveInMember)="moveIn(tenant)" (moveOutMember)="moveOut(tenant, $event)" [smColumns]="12"
                    [mdColumns]="6" [lgColumns]="4">
                </ui-flat-member-card>
            </ng-container>

            <ng-container *ngIf="tenants.length === 0">
                <app-empty-records singular="tenant" plural="tenants" routerLink="../add" [smColumns]="12"
                    [mdColumns]="12" [lgColumns]="12">
                    <app-icon icon name="tenant" size="xxl"></app-icon>
                </app-empty-records>
            </ng-container>

        </ui-form-layout>
    </div>
</app-layout>