<app-layout [hideMoreActions]="true" [title]="pageTitle" [showBackButton]="true">
    <form [formGroup]="fb">
        <ui-form-layout>

            <div class="flex" [smColumns]="12" [mdColumns]="12" [lgColumns]="12">

                <div class="flex-auto flex flex-gap">
                    <ui-form-layout class="full-w">
                        <ui-society-search formControlName="society" [smColumns]="12" [mdColumns]="12" [lgColumns]="12"
                            *ngIf="!society">
                        </ui-society-search>

                        <ui-label [valueText]="society.societyName" [config]="societyNameConfig" direction="horizontal"
                            valueType="info" [smColumns]="12" [mdColumns]="10" [lgColumns]="10" *ngIf="society">
                        </ui-label>

                    </ui-form-layout>
                </div>

                <div>
                    <ui-button *ngIf="canAddFlat" label="Add Flat" type="primary" (clicked)="openAddDialog()">
                    </ui-button>
                </div>
            </div>

            <!-- Building Drop Down -->
            <ui-drop-down formControlName="building" [config]="buildingSelectorConfig" [options]="buildingOptions"
                placeholder="Select Building" [smColumns]="12" [mdColumns]="6" [lgColumns]="6">
            </ui-drop-down>

            <!-- Floor -->
            <ui-drop-down [formControl]="floorControl" [config]="floorFilterConfig" [options]="filterOptions"
                [smColumns]="12" [mdColumns]="6" [lgColumns]="6">
            </ui-drop-down>

            <ng-container *ngFor="let flat of flats">
                <ui-flat-card [smColumns]="12" [mdColumns]="6" [lgColumns]="6" [flat]="flat"
                    *ngIf="!floorControl.value || floorControl.value === flat.floor.toString()"
                    [showDelete]="canDeleteFlat" (delete)="deleteFlat(flat)">
                </ui-flat-card>
            </ng-container>

        </ui-form-layout>
    </form>

</app-layout>

<ng-template #flatTemplate>
    <form [formGroup]="fb">
        <app-add-edit-popup title="Add Building" (onClose)="closeDialog();">
            <ui-form-layout>

                <!-- Society Control -->
                <ui-society-search formControlName="society" [smColumns]="12" [mdColumns]="10" [lgColumns]="5"
                    *ngIf="!society">
                </ui-society-search>
                <!-- Society Label -->
                <ui-label [valueText]="society.societyName" [config]="societyNameConfig" direction="horizontal"
                    valueType="info" [smColumns]="12" [mdColumns]="10" [lgColumns]="10" *ngIf="society">
                </ui-label>


                <!-- Building Drop Down -->
                <ui-drop-down formControlName="building" [config]="buildingSelectorConfig" [options]="buildingOptions"
                    placeholder="Select Building" [smColumns]="12" [mdColumns]="12" [lgColumns]="6">
                </ui-drop-down>
                <!-- Append Floor Number checkbox -->
                <ui-checklist class="flex-end" formControlName="appendFloorNumber" [config]="appendFloorNumberConfig"
                    [options]="appendFloorNumberOptions" direction="horizontal" [smColumns]="12" [mdColumns]="12"
                    [lgColumns]="6">
                </ui-checklist>


                <ng-container
                    *ngIf="(buildings.length > 0 && selectedBuilding) || selectedSociety?.numberOfBuildings === 1">
                    <ui-tabs [config]="addFlatTabsConfig" [tabs]="tabsOptions" (tabChange)="handleTabChange($event)"
                        [(tab)]="selectedTab" [smColumns]="12" [mdColumns]="12" [lgColumns]="12">
                    </ui-tabs>


                    <ng-container formGroupName="autogenerateForm" *ngIf="selectedTab === 'autoGen'">

                        <ui-text-box type="number" formControlName="fromFloor" [config]="fromFloorConfig"
                            [smColumns]="6" [mdColumns]="6" [lgColumns]="2">
                        </ui-text-box>

                        <ui-text-box type="number" formControlName="toFloor" [config]="toFloorConfig" [smColumns]="6"
                            [mdColumns]="6" [lgColumns]="2">
                        </ui-text-box>
                        <ui-text-box type="number" formControlName="startFlat" [config]="startFlatConfig"
                            [smColumns]="6" [mdColumns]="6" [lgColumns]="2">
                        </ui-text-box>
                        <ui-text-box type="number" formControlName="endFlat" [config]="endFlatConfig" [smColumns]="6"
                            [mdColumns]="6" [lgColumns]="2">
                        </ui-text-box>

                        <ui-drop-down formControlName="flatType" [config]="flatTypeSelectorConfig"
                            [options]="flatTypeOptions" placeholder="Select Flat Type" [smColumns]="12" [mdColumns]="6"
                            [lgColumns]="2">
                        </ui-drop-down>

                    </ng-container>

                    <ng-container formGroupName="addFlats" *ngIf="selectedTab === 'addFlat'">

                        <ui-text-box formControlName="flatNumber" [config]="flatNumberConfig" [smColumns]="6"
                            [mdColumns]="4" [lgColumns]="4">
                        </ui-text-box>
                        <ui-text-box type="number" formControlName="floor" [config]="floorConfig" [smColumns]="6"
                            [mdColumns]="2" [lgColumns]="2">
                        </ui-text-box>

                        <ui-drop-down formControlName="flatType" [config]="flatTypeSelectorConfig"
                            [options]="flatTypeOptions" placeholder="Select Flat Type" [smColumns]="12" [mdColumns]="4"
                            [lgColumns]="4">
                        </ui-drop-down>

                    </ng-container>
                </ng-container>

                <section class="flex flex-end flex-gap" [smColumns]="12" [mdColumns]="10" [lgColumns]="10">
                    <ui-label [valueText]="errorMessage" [config]="{id: 'error'}" *ngIf="errorMessage" valueType="error"
                        [smColumns]="12" [mdColumns]="6" [lgColumns]="6">
                    </ui-label>

                </section>

            </ui-form-layout>

            <ng-container actions>
                <ui-button [label]="'Cancel'" type="only-content" (clicked)="closeDialog();">
                </ui-button>
                <ui-button label="Add" [smColumns]="12" [mdColumns]="2" [lgColumns]="2" [disable]="fb.invalid"
                    (clicked)="addFlat()">
                </ui-button>
            </ng-container>
        </app-add-edit-popup>
    </form>
</ng-template>