@import '../../../../styles/variables';
@import '../../../../styles/mixins';


.join-form {
    ::ng-deep {
        .card {
            justify-content: center !important;
        }

        .card-main {
            text-align: center;
        }
    }

    @include mobile {
        padding: $input-padding-mobile;
    }

    @include tablet {
        padding: $input-padding-desktop;
    }

    @include desktop {
        padding: $input-padding-desktop;
    }
}