@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.confirm-dialog {
    background-color: $color-white;
    border-radius: $btn-border-radius-md;
    overflow: hidden;
    min-width: 300px;
    max-width: 400px;

    .dialog-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $sp-md;
        border-bottom: 1px solid $color-border;

        h2 {
            margin: 0;
            font-size: $font-size-lg;
            font-weight: 600;
            color: $color-dark-blue;
        }

        .close-btn {
            background: none;
            border: none;
            font-size: $font-size-xl;
            line-height: 1;
            cursor: pointer;
            color: $color-help-text;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            transition: background-color 0.2s;

            &:hover {
                background-color: $color-light-gray;
                color: $color-dark-blue;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .dialog-content {
        padding: $sp-lg $sp-md;
        color: $color-black;
        font-size: $font-size-base;

        p {
            margin: 0;
            line-height: 1.5;
        }
    }

    .dialog-actions {
        display: flex;
        justify-content: flex-end;
        gap: $sp-sm;
        padding: $sp-md;
        border-top: 1px solid $color-border;

        button {
            border: none;
            padding: $sp-sm $sp-lg;
            border-radius: $btn-border-radius-sm;
            font-size: $font-size-sm;
            font-weight: 500;
            cursor: pointer;
            transition: background-color 0.2s, color 0.2s;

            &:focus {
                outline: none;
            }
        }

        .cancel-btn {
            background-color: $color-light-gray;
            color: $color-black;

            &:hover {
                background-color: darken($color-light-gray, 10%);
            }
        }

        .proceed-btn {
            background-color: $btn-bg-primary;
            color: $btn-text-primary;

            &:hover {
                background-color: darken($btn-bg-primary, 10%);
            }
        }
    }
}
